# git

alias gpd='git pull origin develop'


# editor

if type atom > /dev/null 2>&1; then
  alias a='atom'
fi

if type code > /dev/null 2>&1; then
  alias c='code'
fi

if type nvim > /dev/null 2>&1; then
  alias vim='nvim'
  alias vi='nvim'
  alias v='nvim'
fi


# others

alias cl='clear'
alias pn='pnpm'
alias amag='cd $HOME/Desktop/Projects/AMAG'
alias sim='cd $HOME/Desktop/Projects/Personal'
