snippet cl "console.log(...)" b
console.log($0);
endsnippet

snippet clh "console.log(...)" b
console.log("Hello world!");
endsnippet

snippet cld "console.log(...)" b
console.log("---------->");
endsnippet
